* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: darkcyan;
}

/*header style*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:100px;
  background-color: lightskyblue;
}

/*company name*/
a {
  text-decoration: none;
  color:#301934;
  font-size: 1.5rem;
  padding: 0.75rem;
}

/*company name position*/
header h1 {
  display: flex;
  align-items: center;
}

/*gavel*/
svg{
  color:#301934;
  margin-right: 0.5rem;
}

/*hiding the nav bar*/
nav{
  background-color: lightskyblue;
  box-shadow: none
}

/*font for the nav*/
li {
  font-family:'Source Sans Pro', sans-serif;
}


.page-container {
  min-width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*main body*/
main {
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

/*title fonts*/
.form-container h4 {
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/*form styles*/
form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0.25rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

form {
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

/*btn color*/
.btn{
  background-color: #301934;
  border-radius: 25px
}

/*footer style*/
footer {
  text-align: center;
    justify-content: flex-start;
    background-color: lightskyblue;
    height: 65px;
    display: flex;
    align-content: center;
    align-items: center;
}

h2{
  margin:0;
  font-size:1rem

}
