* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid black; */
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: darkcyan;
}

a {
  text-decoration: none;
}

/*header style*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: lightskyblue;
}

/*company name*/
a {
  text-decoration: none;
  color: #301934;
  font-size: 1.5rem;
  padding: 0.75rem;
}

/*company name position*/
header h1 {
  display: flex;
  align-items: center;
}

/*gavel*/
svg {
  color: #301934;
  margin-right: 0.5rem;
}

/*hiding the nav bar*/
nav {
  background-color: lightskyblue;
  box-shadow: none;
  display: flex;
  justify-content: flex-end;
}

nav a,
nav div {
  display: flex;
  align-items: center;
}

nav svg {
  width: 2rem;
  height: 2rem;
}

/*font for the nav*/
li {
  font-family: "Source Sans Pro", sans-serif;
}

.page-container {
  width: 100%;
  min-height: 100vh;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*main body*/
main {
  height: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

main h1 {
  width: 100%;
  text-align: center;
  margin: 0 0 1rem 0;
}

.form-container {
  width: 100%;
  max-width: 400px;
}

/*title fonts*/
.form-container h4 {
  text-align: center;
  font-family: "Source Sans Pro", sans-serif;
}

/*form styles*/
form {
  display: flex;
  flex-direction: column;
}

form input {
  padding: 0.25rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

form {
  margin-top: 1rem;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
}

/*btn color*/
.btn {
  background-color: #301934;
  border-radius: 25px;
}

/*footer style*/
footer {
  text-align: center;
  justify-content: flex-start;
  background-color: lightskyblue;
  height: 65px;
  display: flex;
  align-content: center;
  align-items: center;
}

footer h2 {
  width: 100%;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: 1rem;
}

/* added */
.auction-list {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.owned-list {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgray;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.owned-list h2 {
  width: 100%;
  text-align: center;
}

.place-bid-container,
.add-auction-container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.card,
.bid-form,
.password-form,
.auction-form {
  margin: 0.5rem;
  width: 45%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid black;
}

.owned-list .card {
  width: calc(100% - 1rem);
}

.card-title {
  font-size: large;
  font-weight: bold;
}

.card-desc {
  font-style: italic;
}

.card-status {
  display: flex;
  justify-content: space-between;
}

.card-current {
  display: flex;
  justify-content: space-between;
}

.remaining {
  color: red;
  font-weight: bold;
}

.add-bid {
  width: 100%;
}

.reserve-met {
  color: green;
}

.reserve-not {
  color: red;
}

.add-bid span {
  display: block;
  text-align: center;
  font-size: larger;
  width: 100%;
  border-radius: 0.3rem;
  background-color: rgb(170, 224, 168);
}

.profile-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-items {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile-items h2 {
  font-size: large;
  font-weight: bold;
  padding-top: 0.25rem;
}

/* matertialize override temp */
input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  opacity: 1;
  position: initial;
  pointer-events: all;
}

.change-pw {
  background-color: lightskyblue;
  padding: 0.25rem 0.75rem;
  border-radius: 0.75rem;
}

.bid-value,
.bid-count {
  animation-name: bid-color;
  animation-duration: 4s;
  font-weight: bold;
  padding-left: 0.25rem;
  /* color: black; */
}

@keyframes bid-color {
  from {
    color: green;
  }
  to {
    color: black;
  }
}
